#signup-form{
    max-width: 500px;
    margin: 5px auto;
    padding: 10px;
}

#create-button{
    padding: 10px;
    min-width: 200px;
}

#create-button:hover{
    background-color: black;
    color: white;
}

#email-input{
    max-width: 310px;
}

#phone-input{
    border: 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0px;
    border-color: black;
    outline: 0px;
}

.form-control, phoneInput{
    border: 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    border-color: black;
    outline: 0px;
}

.form-control:focus{
    box-shadow: none;
    border-color: none;
    border-bottom: 1px solid black;
}

.signup-div{
    max-width: 500px;
}

#google-btn{
    background-color: white;
    color: #4285F4;
}

#apple-logo{
    fill: white;
}

#apple-btn{
    background-color: black;
    color: white;
}