#signup-form{
    max-width: 500px;
    margin: 30px auto;
    padding: 10px;
}

#create-button{
    padding: 10px;
    min-width: 200px;
}

#create-button:hover{
    background-color: black;
    color: white;
}

#email-input{
    max-width: 310px;
}

#phone-input{
    max-width: 320px
}