#product-card{
    min-width: 160px;
    max-width: 250px;
    margin: auto;
}

@media screen and (max-width: 600px){
    #product-card{
        max-width: 160px;
        margin: auto;
    }

    .icon{
        margin-left: 1px;
    }
}