#product-card{
    min-width: 160px;
    max-width: 250px;
    margin: auto;
    border: 0px;
}

#card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

@media screen and (max-width: 600px){
    #product-card{
        max-width: 160px;
        margin: auto;
    }

    #card-title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
    }

    .icon{
        margin-left: 1px;
    }

}