#search-section{
    max-width: 700px;
}

#thumbnail{
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.checked{
    color: rgb(255,255,0);
}

#search{
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 0px;
}

#category-select{
    border: 1px solid;
    border-radius: 0px;
    width: 160px;
}

#min-price, #max-price{
    border: 1px solid;
    border-radius: 0px;
    width: 100px;
    max-width: 200px;
    margin: 10px;
}

#filter-div{
    max-width: 1200px;
}

#close-filter{
    border: 1px solid #e96f0c;
    color: #e96f0c;
}

#close-filter:hover{
    background-color: #e96f0c;
    color: white;
}

#pagination{
    max-width: 270px;
    margin: 10px;
}

@media  screen and (max-width: 600px) {

    #search-bar-filter{
        width: 250px;
        margin-left: 30px;
    }

    #filter-div{
        display: grid;
        width: auto;
        margin: 150px auto;
    }

    #category-select{
        border: 1px solid;
        border-radius: 0px;
        max-width: 180px;
        margin-top: -54px;
        margin-left: 150px;
    }
    
    #min-price{
        border: 1px solid;
        border-radius: 0px;
        max-width: 100px;
    }

    #max-price{
        border: 1px solid;
        border-radius: 0px;
        max-width: 100px;
        margin: -230px;
    }

    #close-filter{
        width: 200px;
        margin-left: 80px;
    }

    #filter{
        width: 100%;
        margin: auto;
    }
}