#search-row{
    max-width: 100%;
}

#search{
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 0px;
}

#category-select{
    border: 1px solid;
    border-radius: 0px;
    width: 200px;
}

#min-price, #max-price{
    border: 1px solid;
    border-radius: 0px;
    width: 100px;
    max-width: 200px;
    margin: 10px;
}

#search-bar{
    max-width: 350px;
}

#search-bar-filter{
    max-width: 350px;
}

#filter-div{
    max-width: 1200px;
}

#close-filter{
    border: 1px solid #e96f0c;
    color: #e96f0c;
}

#close-filter:hover{
    background-color: #e96f0c;
    color: white;
}

@media  screen and (max-width: 600px) {

    #search-bar-filter{
        width: 250px;
    }

    #filter-div{
        display: grid;
        margin: 50px auto;
    }

    #category-select{
        border: 1px solid;
        border-radius: 0px;
        max-width: 180px;
    }
    
    #min-price, #max-price{
        border: 1px solid;
        border-radius: 0px;
        max-width: 100px;
        margin: 10px;
    }

    #close-filter{
        width: 200px;
    }
}