#search-section{
    max-width: 630px;
}

#thumbnail{
    max-width: 280px;
    max-height: 280px;
    object-fit: contain;
}

.checked{
    color: rgb(255,255,0);
}

.unchecked{
    fill: black;
}

#search{
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 0px;
}

#category-select{
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 0px;
    max-width: 150px;
}

#min-price, #max-price{
    border: 1px solid;
    border-radius: 0px;
    margin: 10px;
    padding: 4px;
}

#close-filter{
    border: 1px solid #e96f0c;
    color: #e96f0c;
}

#close-filter:hover{
    background-color: #e96f0c;
    color: white;
}

#pagination{
    max-width: 270px;
    margin: 10px;
}

@media  screen and (max-width: 650px) {
    #search{
        max-width: 300px;
    }
}

@media  screen and (max-width: 500px) {
    #thumbnail{
        max-width: 130px;
        max-height: 130px;
        object-fit: contain;
    }

    .tile-text{
        font-size: 15px;
    }

}

@media  screen and (max-width: 480px) {

    #search{
        max-width: 200px;
    }

    #search-section{
    max-width: 350px;
    }

    #category-select{
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        max-width: 130px;
    }
    
    #min-price{
        border: 1px solid;
        border-radius: 0px;
        max-width: 140px;
    }

    #max-price{
        border: 1px solid;
        border-radius: 0px;
        max-width: 140px;
    }

    #close-filter{
        width: 200px;
    }
}

