input:focus {
   border-radius: 0%;
   border: 0px;
}

#checkout-btn{
    border: 1px black;
    background-color: black;
    border-radius: 0%;
    color: white;
    padding: 10px 30px;
}

#price-div{
    max-width: 500px;
}

#thumbnail{
    max-width: 200px;
    max-height: 200px;
}

#expandable-input{
    display: inline-block;
    max-width: 30px;
}