#checkout-btn{
    border: 1px black;
    background-color: black;
    border-radius: 0%;
    color: white;
    padding: 10px 30px;
}

#thumbnail{
    max-width: 200px;
    max-height: 200px;
}

#expandable-input{
    display: inline-block;
    max-width: 30px;
}

@media screen and (max-width: 476px) {
    #thumbnail{
        max-width: 120px;
        max-height: 120px;
    }
}

@media screen and (max-width: 1275px) {
    #pricing-shopping{
        display: flex;
        flex-wrap: wrap;
        margin: initial;
    }
}

@media screen and (min-width: 900px){
    #cart-items-div{
        min-width: 880px;
    }
}

@media screen and (min-width: 1275px) {
    #pricing-shopping{
        padding-left: 100px;
    }
}