#carousel{
    max-width: 650px;
}

.carousel-image{
    position: relative;
    display: inline-block;
}

.carousel-image .prev-button{
    position: absolute;
    top: 40%;
    left: 1%;
    fill: white;
}

.carousel-image .next-button{
    position: absolute;
    top: 40%;
    right: 1%;
    fill: white;
}

.carousel-image .image-numbers{
    position: absolute;
    bottom: 5%;
    color: white;
    left: 50%;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #555;
}

@media screen and (max-width: 480px) {
    #title{
        font-size: x-large;
    }

    .next-button, .prev-button{
        font-size: x-large;
    }
}