#carousel{
    max-width: 650px;
}

.carousel-image{
    position: relative;
    display: inline-block;
}

.carousel-image .prev-button{
    position: absolute;
    top: 50%;
    left: 5%;
}

.carousel-image .next-button{
    position: absolute;
    top: 50%;
    right: 5%;
}

.carousel-image .image-numbers{
    position: absolute;
    bottom: 5%;
    color: white;
    left: 50%;
}

.next-button, .prev-button{
    fill: white;
}