#carousel{
    max-width: 650px;
}

.carousel-image{
    position: relative;
    display: inline-block;
}

.carousel-image .prev-button{
    position: absolute;
    top: 40%;
    left: 1%;
    fill: white;
}

.carousel-image .next-button{
    position: absolute;
    top: 40%;
    right: 1%;
    fill: white;
}

.carousel-image .image-numbers{
    position: absolute;
    bottom: 5%;
    color: white;
    left: 50%;
}

@media screen and (max-width: 480px) {
    #title{
        font-size: x-large;
    }

    .next-button, .prev-button{
        font-size: x-large;
    }
}