#headline{
    background-image: url('../images/gulfstream.jpg');
    height: fit-content;
    padding: 34px;
    background-size: cover;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#headline-message{
    margin: auto;
}

#message{
    font-size: 60px;
}

#store-button{
    background-color: white;
    padding: 20px;
    max-height: 100px;
}

.category-image{
    max-height: 150px;
    max-width: 150px;
}

@media screen and (max-width: '480px') {
    
    .category-image{
        max-height: 120px;
        max-width: 120px;
    }

    #message{
        font-size: 20px;
    }

    #store-button{
        background-color: white;
        padding: 5px;
    }
}