#headline{
    background-image: url('../images/gulfstream.jpg');
    height: fit-content;
    padding: 30px;
    background-size: cover;
}

#headline-message{
    max-width: 500px;
}

#store-button{
    background-color: white;
    padding: 20px;
    max-height: 100px;
}

.category-image{
    max-height: 150px;
    max-width: 150px;
}