#profile-picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

#profile-picture-div{
    position: relative;
    display: inline-block;
    margin: auto;
}

#change-profile-picture-icon{
    position: absolute;
    top: 80%;
    left: 80%;
    z-index: 1;
}

#profile-details{
    max-width: 500px;
    margin:auto;
}

#edit_profile_form{
    max-width: 500px;
}