.icon{
    margin-top: 5px;
}

.navbar-toggler{
    border-style: none;
}

#nav-bar{
    padding-left: 13px;
    padding-top: 13px;
    padding-right: 0px;
    padding-bottom: 13px;
}

#logo{
    height: 35px;
    width: 75px;
}

.nav-link{
    color: white;
}

#dropdown-menu{
    width: 250px;
}

#cart{
    position: relative;
    display: inline-block;
}

#cart-count{
    background-color: red;
    border-radius: 100%;
    font-size: 8px;
}

#cart #cart-count{
    position:absolute;
    top:-20%;
    left: 40%;
}

#side-nav{
    background-color: black;
    width: 230px;
    position: absolute;
    z-index: 2;
    display: none;
}

#side-nav li{
    padding: 25px;
}

#side-menu, #search-icon{
    display: none;
}

#profile-pic{
    border-radius: 50%;
    max-height: 30px;
    max-width: 30px;
}

@media screen and (max-width: 768px) {
    #side-menu, #search-icon{
        display: initial;
    }

    .horizontal-nav{
        display: none;
    }

    #side-nav{
        display:block;
    }
} 


