.icon{
    margin-top: 5px;
}

.navbar-toggler{
    border-style: none;
}

#nav-bar{
    padding: 15px;
}

#logo{
    height: 35px;
    width: 75px;
}

.nav-link{
    color: white;
}

#side-nav{
    background-color: black;
    max-width: 250px;
    margin-right: 0px;
    z-index: 2;
}

#side-nav li{
    padding: 25px;
}


