.icon{
    margin-top: 5px;
}

.navbar-toggler{
    border-style: none;
}

#nav-bar{
    padding: 15px;
}

#logo{
    height: 35px;
    width: 75px;
}

.nav-link{
    color: white;
}

#side-nav{
    z-index: 2;
    float: right;
    background-color: black;
    padding: 20px;
}

#side-nav li{
    padding: 20px;
}