.login-form{
    max-width: 400px;
}

#login-button:hover{
    background-color: black;
    color: white;
}

.form-control{
    border: 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    border-color: black;
    outline: 0px;
}

.form-control:focus{
    box-shadow: none;
    border-color: none;
    border-bottom: 1px solid black;
}

.login-div{
    max-width: 400px;
}

#google-btn{
    background-color: white;
}

#apple-logo{
    fill: white;
}

#apple-btn{
    background-color: black;
    color: white;
}

#facebook-btn{
    background-color: #1877F2;
    color: white;
}